@keyframes fadein {
    0% {opacity: 0;visibility: visible}
    100% {opacity: 1;}
}
@keyframes fadeout {
    0% {opacity: 1; visibility: visible;}
    99% {visibility: hidden;}
    100% {opacity: 0; visibility: hidden;}
}

/* Defaults */
:root
{
    --gold: #dea107;
    --white: floralwhite;
    --blue: #4868d7;
}
*
{
    padding: 0;
    margin: 0;
}
body
{
    background-color: var(--white);
    overflow: hidden;
}
.center
{
    position: relative;
    margin: auto;
    text-align: center;
    width: 100%;
}

/* Top banner*/
#logo
{
    position: absolute;
    left: 20px;
    width: 60px;
    top: calc(50% - 30px);
}
#title
{
    margin: 20px 0;
    font-family: Girassol, serif;
    background-color: var(--gold);
    color: var(--blue);
}

/* Page */
#page_body
{
    height: 500px;
    display: flex;
}

/* Side icons */
#side_icons
{
    width: 25%;
    height: 100%;
}
.side_icon
{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--gold);
    margin: 50px auto;
    cursor: pointer;
}
.icon
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.pfp
{
    width: 45px;
    border-radius: 50%;
}

/* Timeline */
#timeline
{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: -3px -3px 5px -1px black;
}
#page_spine
{
    position: absolute;
    top: 0;
    left: 30px;
    width: 2px;
    height: 100%;
    background-color: red;
    opacity: 0.8;
}
#timeline_heading
{
    margin: 5px 35px;
}
#feed
{
    width: 100%;
    overflow-y: auto;
}
.feed_item
{
    padding: 5px 5px 5px 35px;
    border-bottom: 2px solid deepskyblue;
}
.author
{
    font-weight: bolder;
    font-size: 20px;
}
.timestamp_container
{
    position: static;
    width: 100%;
    height: 10px;
}
.timestamp
{
    float: right;
    font-size: 10px;
    color: lightslategray;
}

/* Right panel */
#blank_panel
{
    width: 25%;
    height: 100%;
}

/* Message box */
#message_box_container
{
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}
#pointer
{
    pointer-events: all;
    float: left;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid var(--gold);
}
#message_box
{
    pointer-events: all;
    float: left;
    padding: 10px;
    background-color: var(--gold);
    width: 300px;
}

#message_input_container
{
    position: relative;
}
#message_input {
    padding: 5px;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 125px;
    overflow: auto;
}
#character_count
{
    position: absolute;
    bottom: 0;
    right: 0;

    font-size: 12px;
    margin: 5px;
    color: var(--gold);
}

#btn_send_message {
    float: right;
}

