<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ url_for('static', filename='logo.svg') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Girassol">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
        <title>Title</title>
    </head>
    <body id="body">
        <div id="title" class="center title">
            <img id="logo" src="{{ url_for('static', filename='logo.svg') }}" alt="logo">
            <h1>Paper Plane</h1>
        </div>
        <div id="page_body">
            <div id="side_icons">
                <div class="side_icon" title="Account"><img class="icon pfp" src="{{ url_for('static', filename='pfp.jpg') }}" alt="Account"></div>
                <div id="side_icon_message" class="side_icon" title="Message" onclick="onMessageIconClick()"><img class="icon" src="{{ url_for('static', filename='pencil.svg') }}" alt="Message"></div>
                <div class="side_icon" title="Settings"><img class="icon" src="{{ url_for('static', filename='settings.svg') }}" alt="Settings"></div>
            </div>
            <div id="timeline">
                <h2 id="timeline_heading">Timeline</h2>
                <hr style="border: 2px solid deepskyblue;">
                <div id="feed"></div>
                <div id="page_spine"></div>
            </div>
            <div id="blank_panel"></div>
        </div>

        <div id="message_box_container" class="message_box_container">
            <div id="pointer"></div>
            <div id="message_box">
                <div id="message_input_container">
                    <label>
                        <textarea id="message_input" placeholder="Enter your message here" maxlength="140" rows="5" cols="20" wrap="soft" onkeyup="onInputChange()" onkeydown="onInputChange()" onchange="onInputChange()"></textarea>
                    </label>
                    <span id="character_count">0/140</span>
                </div>
                <button id="btn_send_message" onclick="sendMessage();">Send</button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/load.js') }}"></script>
    </body>
</html>